all:
  children:
      app:
      hosts:
        appserver:
          ansible_host: ${external_ip_address_app}
      db:
      hosts:
        dbserver:
          ansible_host: ${external_ip_address_db}
  vars:
    remote_user: ubuntu
    private_key_file: ~/.ssh/yc-user
    db_host_internal: ${internal_ip_address_db}