{
   "id": "ajeug4eqaa9upunqam2o",
   "service_account_id": "aje1qcm7ll29ctn2mec0",
   "created_at": "2023-09-04T12:29:35.603582854Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nXXXXXXXXXXXXXXX\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\nXXXXXXXXXXXXXXXX\n-----END PRIVATE KEY-----\n"
}
